body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.back-video {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 60%;
}

/* Navigation bar */
header {
    background-color: #010813;
    /* opacity: 70%; */
}
header .navigation_bar {
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
/* Left part  */
header .navigation_bar img {
    height: 40px;
    width: 40px;
    /* margin-top: 17px; */
}
header .logo_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo_left h2 {
    padding: 0px 15px;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    letter-spacing: 2px;
}
/* Right part */
header .links_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .links_right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 20px;
}
header .links_right li {
    display: inline-block;
    padding: 0px 7px;
    /* margin-top: 5px; */
}
header .links_right a {
    /* border: 3px solid black; */
    padding: 3px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: all 0.3s 0s ease-in;
    /* letter-spacing: 2px; */
}
header .links_right li .login {
    color: rgb(60, 221, 249);
}
header .links_right a:hover {
    background-color: rgb(11, 162, 195);
    /* padding: 3px 15px; */
    letter-spacing: 1px;
}
header .links_right li .login:hover {
    /* border-top: 1px solid white; */
    /* border-bottom: 1px solid white;
    width: fit-content; */
    background-color: rgb(241, 175, 8);
    color: black;
}
header .links_right .btn {
    padding-left: 30px;
}
header .links_right button {
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    font-size: 15px;
    padding: 5px 35px;
    background-color: transparent;
    color: white;
    transition: all 0.5s 0s ease-in-out;
    cursor: pointer;
}
header .links_right button:hover {
    background-color: white;
    color: black;
    border-radius: 0px;
    padding: 5px 45px;
}
/* header closes here */


/* Main body of website */
.content {
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.content .content_holder {
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 50px;
    /* vertical-align: middle; */
    width: 70%;
    height: 70%;
}
.content .artist_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
    padding: 20px 0px;
    /* transform: translateY(-50%); */
    /* width: 400px; */
    /* border: 5px solid blue; */
    /* text-align: center; */
}
.content .artist_heading h1 {
    font-size: 5rem;
    padding-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.content img {
    height: 150px;
    width: 150px;
    /* border: 5px solid red; */
    border-radius: 50%;
}

.content .songs_list {
    /* border: 5px solid red; */
    overflow-y: auto;
    padding-left: 46%;
    /* height: calc(100% - 30px); */
    height: 500px;
    width: 90%;
}
.songs_list::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
.songs_list::-webkit-scrollbar-track {
    background: transparent;       /* color of the tracking area */
    border: 1px solid black;
    border-radius: 20px;
}
.songs_list::-webkit-scrollbar-thumb {
    background-color: grey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
}
.content .songs_list .song_item {
    color: white;
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 10px 11px;
}
.content .songs_list .song_item img {
    height: 50px;
    width: 50px;
    margin-left: 0px;
}
.timestamp {
    margin: 0 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timestamp i {
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}
/* content ends here */

/* bottom progress bar */
.bottom {
    position: sticky;
    /* background-color: black; */
    color: white;
    /* height: 97px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
}
.bottom i {
    font-size: 25px;
    padding: 10px 0px;
    cursor: pointer;
}
.equilizer {
    position: absolute;
    left: 25vw;
}
.equilizer img {
    height: 30px;
    width: 80px;
    opacity: 0;
    transition: opacity 1s ease-in;
}
input {
    cursor: pointer;
    width: 50vw;
}